package schema

import (
	"time"
)

// Create{{ .Model }}Request ...
type Create{{ .Model }}Request struct {
	Nama        string `json:"nama" validate:"required"`
	Deskripsi string `json:"deskripsi" validate:"required"`
}

// {{ .Model }}Response ...
type {{ .Model }}Response struct {
	ID          int        `json:"id" db:"id"`
	Nama        string     `json:"nama" db:"nama"`
	Deskripsi   string     `json:"deskripsi" db:"deskripsi"`
	CreatedAt   *time.Time `json:"created_at,omitempty" db:"created_at"`
	UpdatedAt   *time.Time `json:"updated_at,omitempty" db:"updated_at"`
}

// Update{{ .Model }}Request ...
type Update{{ .Model }}Request struct {
	Nama        string `json:"nama"`
	Deskripsi string `json:"deskripsi"`
}
